.statusArea {
	position: fixed;
	top: 22px;
	right: 12px;
	border-radius: 5px;
	background: white;
}
.statusArea .header {
	border-bottom: 1px solid rgb(229, 229, 229);
	padding: 5px 10px;
	min-width: 140px;
	color: rgb(91, 55, 206);
}
.statusArea .header > * {
	display: inline-block;
}
.statusArea .header label{
	font-size: 17px;
}
.statusArea .header button {
	float: right;
	border: none;
	background: white;
}
button.close:hover {
	cursor: pointer;
}
.statusArea .body {
	font-size: 15px;
}
.statusTable {
	margin: 10px 0;
	border-collapse: collapse;
	width: 100%;
}
.statusTable td {
	min-width: 65px;
	text-align: center;
	color: rgb(255, 150, 68);
}
.statusTable td.col2 {
	min-width: 65px;
}
.statusTable td.col3 {
	min-width: 65px;
}
.draggable:active {
	cursor: move;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
